
<td scope="col">{{branch.buCode5}}</td>
<td scope="col">{{branch.status}}</td>
<td scope="col">{{branch.openedDt}}</td>
<td scope="col">{{branch.address}},{{branch.city}},{{branch.stateName}},{{branch.countryName}}</td>
<td scope="col">{{branch.currency}}</td>
<td scope="col">{{branch.phone}}</td>
<td scope="col" class="text-start">{{branch.latitude}}</td>
<td scope="col" class="text-start">{{branch.longitude}}</td>
<td scope="col"><button class="btn btn-primary btn-sm" style="cursor: pointer;" (click)="onEditBranch()">Edit</button></td>
<td scope="col"><button class="btn btn-danger btn-sm" style="cursor: pointer;" (click)="onDeleteBranch()">Delete</button></td>




