
<div class="row mt-5 mb-5">
  <div>
    <a class="btn btn-primary" (click)="onNewBranch()">New Branch </a>
  </div>
</div>
<div class="row">
  <table class="table table-dark table-striped">
    <thead class="thead-dark">
      <tr class=" mt-5">
        <th scope="col">BU_CODE5</th>
        <th scope="col">STATUS</th>
        <th scope="col">OPENED_DT</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">city</th>
        <th scope="col">state_name</th>
        <th scope="col">country</th>
        <th scope="col">CURRENCY</th>
        <th scope="col">PHONE</th>
        <th scope="col">BUSINESS_HOURS</th>
        <th scope="col">LATITUDE</th>
        <th scope="col">LONGITUDE</th>
      </tr>
    </thead>
    <tbody>
      <tr app-branch-item
          *ngFor=" let branch of branches;
                   let i=index;"
          [branch]="branch"
          [index]="i">
      </tr>
    </tbody>
  </table>
</div>
