
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="!branchForm.valid">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="id">Id</label>
            <input type="number"
                   id="id"
                   formControlName="id"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="bu_code">BU_CODE5</label>
            <input type="text"
                   id="bu_code"
                   formControlName="bu_CODE5"
                   class="form-control">
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">STATUS</label>
            <input type="text"
                   id="status"
                   formControlName="status"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="opened_at">OPENED_AT</label>
            <input type="text"
                   id="opened_at"
                   formControlName="opened_at"
                   class="form-control">
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">ADDRESS</label>
            <input type="text"
                   id="address"
                   formControlName="address"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="city">CITY</label>
            <input type="text"
                   id="city"
                   formControlName="city"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="state_name">STATE_NAME</label>
            <input type="text"
                   id="state_name"
                   formControlName="statE_NAME"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="country_name">COUNTRY_NAME</label>
            <input type="text"
                   id="country_name"
                   formControlName="countrY_NAME"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="currency">CURRENCY</label>
            <input type="text"
                   id="currency"
                   formControlName="currency"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">PHONE</label>
            <input type="text"
                   id="phone"
                   formControlName="phone"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="business_hours">BUSINESS_HOURS</label>
            <input type="text"
                   id="business_hours"
                   formControlName="businesS_HOURS"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="latitude">LATITUDE</label>
            <input type="text"
                   id="latitude"
                   formControlName="latitude"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="longitude">LONGITUDE</label>
            <input type="text"
                   id="longitude"
                   formControlName="longitude"
                   class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
