<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 mb-5">
          <button type="submit"
                  class="btn btn-success mr-5"
                  [disabled]="!branchForm.valid">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="buCode">BU_CODE5</label>
            <fieldset [disabled]="this.editMode">
              <input type="text"
                     id="buCode5"
                     formControlName="buCode5"
                     class="form-control"
                     >
            </fieldset>
           
            <span class="help-block" *ngIf="BranchExists(branchForm.get('buCode5').value) && !this.editMode">Branch {{buCode5}} already exists!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">STATUS</label>
            <input type="text"
                   id="status"
                   formControlName="status"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="openedDt">OPENED_DT</label>
            <input type="datetime-local"
                   id="openedDt"
                   formControlName="openedDt"
                   class="form-control">
            <span class="help-block" *ngIf="branchForm.get('openedDt').errors && branchForm.get('openedDt').touched">Please enter date in the format YYYY-MM-DD</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">ADDRESS</label>
            <input type="text"
                   id="address"
                   formControlName="address"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="city">CITY</label>
            <input type="text"
                   id="city"
                   formControlName="city"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="state_name">STATE_NAME</label>
            <input type="text"
                   id="state_name"
                   formControlName="stateName"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="country_name">COUNTRY_NAME</label>
            <input type="text"
                   id="country_name"
                   formControlName="countryName"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="currency">CURRENCY</label>
            <input type="text"
                   id="currency"
                   formControlName="currency"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">

            <label for="phone">PHONE</label>
            <input type="text"
                   id="phone"
                   formControlName="phone"
                   class="form-control "
                   name="phone"
                   
                  pattern="1?-?\(?[0-9]{3}[\-\)][0-9]{3}-[0-9]{4}"
                   >
          
            <span class="help-block" *ngIf="branchForm.get('phone').errors && branchForm.get('phone').touched">Please enter a valid phone number!</span>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="business_hours">BUSINESS_HOURS</label>
            <input type="text"
                   id="business_hours"
                   formControlName="businessHours"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="latitude">LATITUDE</label>
            <input type="text"
                   id="latitude"
                   formControlName="latitude"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="longitude">LONGITUDE</label>
            <input type="text"
                   id="longitude"
                   formControlName="longitude"
                   class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
